# Racine
/node_modules
.DS_Store
**/.env
**/.env.*

# Hardhat (ignorons le lourd et généré)
/hardhat/artifacts
/hardhat/cache
/hardhat/ignition/deployments
/hardhat/types
/hardhat/out
/hardhat/cache_forge
/hardhat/foundry.toml
/hardhat/safe-deploy-script/.env
/hardhat/safe-deploy-script/node_modules

# Frontend & Indexer
/frontend/node_modules
/frontend/dist
/indexer/node_modules
/supabase/functions/*/node_modules
/hardhat/node_modules
/supabase/node_modules

# Logs
*.log

# Supabase temp files
/supabase/.temp
/supabase/.branches

# tests 
/playwright-report
/PlaywrightTest
/test-results
/tsconfig.playwright.json
/playwright.config.ts

